.wrapper {
  padding: 0;
  height: 100%;
  background: black;

  .sidebar-nav {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      a {
        padding: 20px;
        text-decoration: none;
        &:hover {
          opacity: 0.5;
        }
      }
      &:hover {
        background: #2e2e2e;
      }
    }
  }
}
